<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flow.workflow.mapper.BpmModelMapper">

    <!-- 根据模型标识查询 -->
    <select id="selectByModelKey" resultType="com.flow.workflow.entity.BpmModel">
        SELECT * FROM bpm_model
        WHERE model_key = #{modelKey}
        AND deleted = 0
        LIMIT 1
    </select>

</mapper>
